
/* styles.css */
*{
    background-color: rgb(251, 237, 219);
    margin-top: 0;
  }
    
    
    .formbox{
     
      margin-top: 20px;
      margin-left: 162px;
    width: 1138px;
    height: 240px;
  
  }
  .custombox{
    width: 1138px;
    height: auto;
    background-color: whitesmoke;
    
    margin-left: -16px;
  
  }
  